<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sparky Studio</title>
</head>
<body>
    
    <form action="/action_page.php">
        <label for="uname">User name:</label>
        <input type="text" id="uname" name="uname"><br><br>
        <label for="pwd">Password:</label>
        <input type="text" id="pwd" name="pwd"><br><br>
        <input type="submit" value="Submit">
    </form> 

</body>
</html>